body{
  margin: 0;
}

header{
  text-align: center;
}

main{
  text-align: center;
}

.today{
  display: flex;
  justify-content: center;
  align-items: center;
}

.today img{
  width: 200px;
  height: 200px;
}
